<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron text-center" style="background-color: transparent; color: aliceblue;">
                <h1 class="display-2" style="font-family: sans-serif;"><b>Welcome To</b></h1>
                <h2 class="display-5"><b>Kitchen Story</b></h2>
            </div>
        </div>
    </div>
    <br>
    <div class="col-8 mx-auto">
        <div class="card bg-info">
            <div class="card-header">
                <h5 class="text-center">Search essentials, grocery and more...</h5>
            </div>
            <div class="card-body">

                <div class="form-group col-8 mx-auto my-auto">
                    <input type="text" class="form-control" [(ngModel)]="product" name="product"
                        placeholder="Search for products...">
                </div>

            </div>
            <div class="card-footer text-center"><button (click)="search(product)"
                    class="btn btn-success btn-lg">Search</button></div>
        </div>
    </div>

</div>